/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
public/admin_layouts
public/adminLogin
public/user_layouts
public/image
public/css
storage/debugbar/
.env
.idea
public/admin_layouts/build
public/admin_layouts/dist
public/admin_layouts/docs
public/admin_layouts/pages
public/admin_layouts/plugins
public/user_layouts
composer1.lock
vendor1
public/dist
public/js
ToogleChek
docker-compose.yml
web
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
