/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
public/admin_layouts
public/adminLogin
public/user_layouts
.env
.idea
public/admin_layouts/build
public/admin_layouts/dist
public/admin_layouts/docs
public/admin_layouts/pages
public/admin_layouts/plugins
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
