#category_custom {
    width: 97%;
    margin-left: 20px;
    margin-left: 20px;
    margin-top: 4px;
}

#parent_id {
    width: 97%;
    margin-left: 20px;
}

#category_id {
    width: 97%;
    margin-left: 20px;
}

#styleImage {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

#styleImage {
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

#format_image {
    width: auto;
    height: auto;
    width: 300px;
    margin-left: 20px;
}

#styleImage3 {
    width: 200px;
}

#style1 {
    margin-top: -30px
}

#add_button_delete {
    margin-top: -30px
}

.cart_price_key {
    width: 60px;
    border: none;
}

#colorCate {
    color: white;
}
.deletefavorite {
    color: #ad1707;
}
#media {
    margin-left: 10px;
}
#avatar {
    width: 50px; height: 50px
}
#logout-form {
    display: none;
}
